html,
body {
    height: 100%;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 .carousel-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #666666;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.carousel-container ul li {
    display: block;
    width: 25%;
    text-align: center;
    padding: 20px 0;  
}

.activated {
    background-color: #ffcc00;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}

.carousel-container img {
    display: block;
}