html,
body {
    height: 100%;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.carousel-container {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-container ol,
.carousel-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

 .carousel-container ol {
    display: flex;
    flex-direction: row;
    /* border: 1px solid #666666;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

.carousel-container ol li {
    display: block;
    width: 25%;
    text-align: center;
    padding: 20px 0;  
}

.carousel-container ul {
    width: 600%;
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-container ul li {
    width: 100%;
}


.activated {
    background-color: #ffcc00;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;   
}

.hide {
    display: none;
}